In [59]:
#import libraries
import mysql.connector
import pandas as pd
from mysql.connector import errors

In [60]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "Boyfaded7552",
    database = "dannys_dinner"
)
my_cursor = mydb.cursor()

In [65]:
most_purchased = pd.read_sql('''
SELECT m.product_name
    , COUNT(s.product_id) AS purchase_frequency
FROM menu m
JOIN sales s USING(product_id)
GROUP BY s.product_id
ORDER BY s.product_id DESC
LIMIT 1;''', mydb)
display(most_purchased)

  product_name  purchase_frequency
0        ramen                   8